body{
  background-color: #90A4AE;
}
.centr{
  text-align: center;
}

.topSpace{
  margin-top: 100px;
}
.smSpace{
  margin-top: 50px;
}
.form-group{
  width: 30%;
  margin: auto;
}
.res0, .res1, .res2, .res3, .res4, .res5, .res6, .res7, .res8, .res9{
  text-align: left;
  color: #666;
  background-color: #ECEFF1;
  border-left: 10px solid #4DD0E1;
  display: none;
}
a{
  display: block;
  padding: 10px;
  color: #263238;
  transition: color .7s ease;
}
a:hover{
  color: #607D8B;
}
.container{
  margin: auto;
  width: 60%;
  padding-bottom: 50px;

}
.container1{
  margin: auto;
  width: 50%;
  padding-bottom: 50px;
}
form{
  margin-bottom: 25px;
}
input{
  background-color: #ECEFF1;
  border-radius: 10px;
}
button{
  display: none;
}
h1, h2{
  color: #263238;
}
i{
  color: #263238;
}
