body {
	background-color: #1565C0;
	transition: all 1s ease-in;
	height: 100%;
}

html {
	height: 95%;
}

.center {
	text-align: center;
}

.buttn {
	margin-top: 25px;
	border-radius: 50%;
	float: left;
	margin-left: -25px;
	position: relative;
}

.temp {
	position: relative;
	float: right;
	/*min-width: 135px;*/
}

h1,
h2,
h3,
h4 {
	color: black;
}

.container {
	width: 60%;
	height: 100%;
	border-radius: 25px;
	margin-top: 25px;
	background-color: #ffffff;
	opacity: .85;
}

#switch {
	color: blue;
	font-size: 2rem;
}


/*
@media(max-width: 768px){
  .temp{
    font-size: 2rem;
    min-width: 110px;
  }
  .buttn{
    margin-left: -15px;
  }
}

@media(max-width: 320px){
  .temp{
    font-size: 1.5rem;
    min-width: 85px;
  }
  .buttn{
    margin-left: -5px;
  }
}
*/