.version.index /* version checker */
{
	color: #00000B;
	background-color: #CBA0BA;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 452px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -88px;
	padding-bottom: 23px;
}

#pu8854-3
{
	width: 0.01px;
	padding-bottom: 89px;
	margin-left: -100px;
}

#u8854-3
{
	z-index: 23;
	min-height: 89px;
	top: 41px;
}

#u8854-3-bw
{
	z-index: 23;
}

#menuu179
{
	z-index: 26;
	top: 58px;
}

#u187
{
	width: 173px;
	min-height: 46px;
	margin-right: -10000px;
}

#u188
{
	width: 173px;
	padding-bottom: 29px;
}

#u191-4
{
	width: 40px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
	left: 66px;
}

#u180
{
	width: 159px;
	min-height: 46px;
	margin-right: -10000px;
	left: 248px;
}

#u181
{
	width: 159px;
	padding-bottom: 29px;
}

#u184-4
{
	width: 27px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
	left: 66px;
}

#u194
{
	width: 170px;
	min-height: 46px;
	margin-right: -10000px;
	left: 482px;
}

#u195
{
	width: 170px;
	padding-bottom: 29px;
}

#u196-4
{
	width: 38px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
	left: 66px;
}

#u486
{
	width: 172px;
	min-height: 46px;
	margin-right: -10000px;
	left: 727px;
}

#u489
{
	width: 172px;
	padding-bottom: 29px;
}

#u490-4
{
	width: 40px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
	left: 66px;
}

#u831
{
	width: 183px;
	min-height: 46px;
	margin-right: -10000px;
	left: 974px;
}

#u834
{
	width: 183px;
	padding-bottom: 29px;
}

#u188.MuseMenuActive,#u181.MuseMenuActive,#u195.MuseMenuActive,#u489.MuseMenuActive,#u834.MuseMenuActive
{
	margin: 0px;
}

#u835-4
{
	width: 51px;
	min-height: 17px;
	margin-right: -10000px;
	top: 14px;
	left: 66px;
}

#u188.MuseMenuActive #u191-4,#u181.MuseMenuActive #u184-4,#u195.MuseMenuActive #u196-4,#u489.MuseMenuActive #u490-4,#u834.MuseMenuActive #u835-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#menuu179-bw
{
	z-index: 26;
}

#pu8858
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 19px;
}

#u8858
{
	z-index: 2;
	width: 920px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8866
{
	z-index: 4;
	width: 357px;
	min-height: 301px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 538px;
}

#u8908-4
{
	z-index: 5;
	width: 357px;
	min-height: 31px;
	background-color: transparent;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 538px;
}

#u814-4
{
	z-index: 9;
	min-height: 62px;
	bottom: 13px;
}

#u814-4-bw
{
	z-index: 9;
}

#u473
{
	z-index: 15;
	width: 66px;
	bottom: 12px;
	left: 120px;
}

#u457
{
	z-index: 13;
	width: 33px;
	bottom: 29px;
	left: 46px;
}

#u457_img
{
	padding-right: 1px;
}

#u1818
{
	z-index: 17;
	width: 93px;
	bottom: 25px;
	left: 203px;
}

#u4831-4
{
	z-index: 19;
	width: 199px;
	min-height: 27px;
	bottom: 31px;
	right: 120px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 129px;
	padding-bottom: 100px;
}

#page .verticalspacer
{
	clear: both;
}

