/*Variables*/

:root {
	--color1: #000000;
	/*  var(--color1);  --black  */
	--color2: #ffffff;
	/*  var(--color2);  --white  */
	--color3: #279ef2;
	/*  var(--color3);  --light blue */
	--color4: #477E8E;
	/*  var(--color4);  --base blue    */
	--color5: #A3BEC6;
	/*  var(--color5);  --highlight blue    */
}


/*Elements*/

body {
	margin: 0px;
	padding: 0px;
	background-color: var(--color2);
	font-size: 16px;
}

header {
	height: 177px;
	background-color: var(--color3);
	background-image: url("../img/Header Image desktop.png");
	background-size: cover;
}

header p {
	font-size: 2rem;
	text-align: center;
	color: white;
	margin-top: 15px;
}

header img {
	margin-top: 25px;
}

header h1 {
	color: var(--color2);
	float: right;
	font-size: 6rem;
	font-family: avenir;
	font-weight: medium;
}

main {
	margin-top: 25px;
}

form {
	font-size: 1.5rem;
}

label {
	font-size: 3rem;
	line-height: 100%;
}

button {
	border-radius: 5px;
}

footer {
	position: absolute;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	border-top: thick solid black;
}

footer p {
	font-size: 2rem;
	vertical-align: text-top;
}

a {
	color: var(--color5);
}

a:hover {
	color: var(--color4);
}


/*Classes*/

.centr {
	text-align: center;
}


/*
	.hides {
		visibility: visible;
	}
*/

.inputBox {
	height: 3rem;
	border: 2px solid black;
}

.outputs {
	font-size: 3rem;
}

.fa {
	margin-top: 5px;
}

.fa-twitter,
.fa-github,
.fa-linkedin {
	margin-left: 64px;
}

.bBottom {
	border-bottom: thick solid white;
}


/*Id's*/

#calc,
#outs {
	line-height: 100%;
	margin-top: 64px;
}


}