/*Variables*/

:root {
	--color1: #000000;
	/*BLACK*/
	/*  var(--color1);  */
	--color2: #ffffff;
	/*white*/
	/*  var(--color2);  */
	--color3: #660000;
	/*BKB RED*/
	/*  var(--color3);  */
	--color4: #9b1e1e;
	/*higlight*/
	/*  var(--color4);  */
	--color5: #8f9f38;
	/*Undefined*/
	/*  var(--color5);  */
}


/*Elements*/

body {
	background-color: var(--color1);
	color: var(--color1);
	width: 100%;
}

header {
	position: absolute;
	width: 100%;
	top: 0px;
}

header ul {
	line-height: 67px;
	/*	text-align: center;*/
	width: 100%;
	margin: 0px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

header li {
	list-style-type: none;
	/*	float: left;*/
	font-size: 2em;
	font-weight: bold;
	/*	width: 25%;*/
	color: var(--color1);
}

li:hover {
	color: var(--color4);
}

a {
	color: var(--color1);
}

a:hover {
	color: var(--color4);
}

p a {
	color: white;
}

footer ul {
	line-height: 17px;
	list-style-type: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

footer li {
	font-size: 1em;
	margin-right: 50px;
}


/*
footer li:nth-child(4) {
	margin-left: auto;
}
*/

footer {
	position: relative;
	bottom: 0px;
	width: 100%;
}

#hero {
	height: 360px;
	width: auto;
	background-image: url("../assets/page elements/bkbcvrbanner.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	margin: auto;
	margin-top: 200px;
	clear: both;
	margin-bottom: 200px;
}

article {
	color: var(--color2);
	clear: both;
	display: block;
	width: 800px;
	margin: auto;
}


/*Classes*/

.head1 {
	height: 5px;
	background-color: var(--color3);
	margin-top: 7px;
	padding: 0px;
}

.head2 {
	height: 67px;
	background-color: var(--color3);
	margin-top: 7px;
	padding: 0px;
}

.foot1 {
	height: 5px;
	background-color: var(--color3);
	margin-top: 7px;
}

.foot2 {
	height: 34px;
	background-color: var(--color3);
	margin-top: 7px;
}

.fa {
	margin-top: 2px;
}


/*

.fa-envelope {
	margin-top: 6px;
}
*/

.content h3 {
	margin-left: -50px;
	font-size: 3em;
}

.content p {
	font-size: 2em;
}

.content a {
	font-size: .5em;
	margin-left: -50px;
}

.contentNav ul {
	line-height: 2em;
	width: 200px;
	margin-left: -50px;
	list-style-type: none;
	font-size: 2em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.contentNav li {
	display: inline;
}

.contentNav a {
	color: white;
}


/*I.D.s*/

article#scFrame {
	height: 500px;
	width: 325px;
	float: right;
	margin-right: 320px;
	margin-top: 5px;
	display: block;
}


/*
article#pics{
	display: flex;
	justify-content: flex-start;
}
*/


/*
#about {
	height: 500px;
	display: inherit;
}
*/

#pics {
	/*	height: 500px;*/
	width: 60%;
}

#pics img {
	width: 200px;
	/*	height: 150px;*/
	overflow: hidden;
	margin-left: 50px;
	margin-bottom: 10px;
}

#pics a {
	/*	display: inline-block;*/
}

article#videos div {
	height: 350px;
	/*	margin: 0px;*/
}


/*
#contact {
	height: 500px;
}
*/


/*
#email {
	text-align: right;
	margin-right: 45px;
	float: right;
	font-size: 1.3em;
}*/